* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bd-color: rgba(255, 255, 255, 0.5);
  --bkgr-color: rgba(255, 255, 255, 0.1);
  --bkgr-h-color: rgba(255, 255, 255, 0.15);
  --bg-url: url(./assets/bg-desktop.jpg);
  --bttn-img: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bd-color: black;
  --bkgr-color: rgba(0, 0, 0, 0.05);
  --bkgr-h-color: rgba(0, 0, 0, 0.01);
  --bg-url: url(./assets/bg-desktop-light.jpg);
  --bttn-img: url(./assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 160px;
  border-radius: 50%;
}

#profile p {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin-top: 8px;
}
#switch {
  width: 32px;
  height: 32px;
  background: white;
  border: 0;
  border-radius: 50%;
  background-image: var(--bttn-img);
}
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 14px 24px;

  background: var(--bkgr-color);
  border: 1px solid var(--bd-color);
  border-radius: 5px;

  text-decoration: none;
  font-weight: 500;
  font-size: 15px;

  transition: background, border 0.2s;
}
ul li a:hover {
  background: var(--bkgr-h-color);
  border: 1px solid var(--text-color);
}
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  gap: 16px;
  font-size: 30px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;

  background: var(--bkgr-color);
  border: 1px solid var(--bd-color);
  border-radius: 50%;

  transition: background, border 0.2s;
}
#social-links a:hover {
  background: var(--bkgr-h-color);
  border: 1px solid var(--text-color);
}
footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}
footer a {
  text-decoration: overline;
}
footer a:hover {
  text-decoration: none;
}
